
<ion-content [fullscreen]="true">
    <ion-toolbar class="custom-toolbar">
      <ion-title  size="large">Ingreso de Usuario</ion-title>
    </ion-toolbar>

  
  <ion-item>
    <ion-label position="floating" class="custom-text">Ingresa tu nombre de usuario</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" class="custom-text">Ingresa contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="navigateToInicio()">INGRESAR</ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/res-password']">Restablecer contraseña</ion-button>
  </ion-item>
</ion-content>

